{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>QR Code Generator</title> 
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div class="container shadow" style="width: 800px; margin-top: 5em; padding: 2em"> 
   <form method="post"> 
      {% csrf_token %} 
      <h3>Enter any text to generate a QR code</h3> 
      <div class="input-group mb-3"> 
         <span class="input-group-text" id="inputGroup-sizing-default">QR Code Text:</span> 
         <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" name="qr_text" autofocus> 
      </div>
      <div class="input-group mb-3"> 
         <input type="submit" style="max-width: 200px; margin: auto" class="form-control"> 
      </div> 
   </form> 
   <div class="input-group mb-3">
      <div style="margin: auto"> 
         {{ svg|safe }}
      </div>
   </div>
</div>
</body>
</html> {% endcomment %}


<!doctype html>
{% load static %}
{% load i18n %}

<html class="no-js" lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a6e2755b4d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
   <div class="container">
      <div class="row">
         <div class="col-12">
            <img src="{% static 'img/logincode.png' %}" alt="logincode" style="width:100%;height:100%;">
         </div>
      </div> 

      <div class="row">
         <div class="col-12">
             <h2 style="text-align:center;color:rgb(189,157,96)">{% trans '#8954' %}</h2>
         </div>
      </div>

   </div>
   <form action="/customer_service/" method="post">
      {% csrf_token %}
      <button type="submit" class="form-control" style="margin-left: auto;margin-right: auto;background-color:rgb(200,200,200);width:60%;font-weight:bold">{% trans 'QR Scan(success)' %}
      </button>
   </form>

   <form action="/customer_service_error/" method="post">
      {% csrf_token %}
      <button type="submit" class="form-control" style="margin-left: auto;margin-right: auto;background-color:rgb(200,200,200);width:60%;font-weight:bold">{% trans 'QR Scan(error)' %}
      </button>
   </form>

</body>
</html>